.n-message {
  --n-message-bg-color: var(--n-color-info-light-9);
  --n-message-border-color: var(--n-border-color-lighter);
  --n-message-padding: 10px 14px;
  --n-message-close-size: 16px;
  --n-message-close-icon-color: var(--n-text-color-placeholder);
  --n-message-close-hover-color: var(--n-text-color-secondary);
  --n-message-icon-size: 16px;
  --n-message-icon-margin: 8px;
}

.n-message {
  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: var(--n-border-radius-base);
  border-width: var(--n-border-width);
  border-style: var(--n-border-style);
  border-color: var(--n-message-border-color);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  background-color: var(--n-message-bg-color);
  padding: var(--n-message-padding);
  display: flex;
  align-items: center;
  transition: top var(--n-transition-duration), opacity var(--n-transition-duration),
    transform var(--n-transition-duration);
  .n-message__icon {
    color: var(--n-message-text-color);
    font-size: var(--n-message-icon-size);
    width: var(--n-message-icon-size);
    margin-right: var(--n-message-icon-margin);
  }
  .n-message__content {
    color: var(--n-message-text-color);
    overflow-wrap: break-word;
  }
  &.is-close .n-message__content {
    padding-right: 10px;
  }
  &.text-center {
    justify-content: center;
  }
  .n-message__close {
    display: flex;
    align-items: center;
  }
  .n-message__close .n-icon {
    cursor: pointer;
  }
}

@each $val in info, success, warning, danger {
  .n-message--$(val) {
    --n-message-bg-color: var(--n-color-$(val)-light-9);
    --n-message-border-color: var(--n-color-$(val)-light-8);
    --n-message-text-color: var(--n-color-$(val));
    .n-message__close {
      --n-icon-color: var(--n-color-$(val));
    }
  }
}

.n-message--nror {
  --n-message-bg-color: var(--n-color-danger-light-9);
  --n-message-border-color: var(--n-color-danger-light-8);
  --n-message-text-color: var(--n-color-danger);
  .n-message__close {
    --n-icon-color: var(--n-color-danger);
  }
}

.n-message.fade-up-enter-from,
.n-message.fade-up-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
